*{
    margin: 0;
    padding: 0;
}
body{
    background: #000000;
    color: #ffffff;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    color: #ef4fb8ff;
    font-size: 40px;
    font-weight: 500;
}

li{
    list-style: none;
}

.header{
    background-image: url(/images/gato-pc.jpeg);
    height: 320px;
    background-position: 50% 60%;
    background-size: cover;
}

.header-image img{
    width: 200px;
    border-radius: 100%;
    border: 4px solid #f0f0f0;
    margin-top: 20px;
    position: absolute;
    left: 20px;
    padding: 4px;
    background-color: #000000;
}

.header-contacts{
    position: absolute;
    left: 50px;
    top: 230px;
    margin: 15px 0;
}

.header-contacts li{
    display: inline-block;
    margin: 0 10px;
}

.header-contacts a{
    border-radius: 100%;
    background-color: #000000;
    height: 48px;
    text-align: center;
    display: block;
}

.header-title{
    background-color: #000000;
    position: absolute;
    right: 20px;
    height: 280px;
    top: 20px;
    width: 79%;
}

.header-title p{
    margin-top: 20px;
}

.header-title li{
    display: inline-block;
    margin: 30px;
}

.presentation{
    text-align: center;
}

.hability li:nth-child(odd){
    background-color: #00a6b7ff;
}

.button{
    text-decoration: none;
    line-height: 15px;
    background: #e8d825ff;
    margin: 15px auto;
    padding: 10px;
    border-radius: 4px;
    display: block;
    width: 100px;
    text-align: center;
    color: #000000;
    font-weight: 700;
    transition: 0.5s;
}

.button:hover{
    background: #00ea58ff;
}

.picture{
    border-radius: 50%;
    width: 300px;
}