.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.title {
  margin: 0;
}

.link {
  text-decoration: none;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

@media only screen and (max-width: 320px) {
  .link {
    width: 45%;
  }
}
