.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background: #E9E9E9;
  padding: 12px 0;
  gap: 4px
}

.contactList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.icon {
  width: 25px;
}

.text {
  margin: 0;
}

@media only screen and (max-width: 320px) {
  .text {
    font-size: 12px;
  }
}
