.bg {
  background: url('../images/space-background.png');
  background-size: cover;
  padding: 40px;
  text-align: center;
}

.content {
  color: black;
  background-color: rgba(255,255,255,0.5);
  border-radius: 20px;
  max-width: 800px;
  padding: 15px;
  margin: 0 auto;
}

.body {
  text-align: center;
  padding: 50px 0;
}