.bg {
  background: url('../images/space-background.png');
  background-size: cover;
  background-position: center;
  padding: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: rgba(255,255,255,0.5);
  border-radius: 20px;
  width: 80%;
  padding: 15px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 24px 0 0;
}

.text {
  padding: 12px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  max-width: 700px;
}

@media only screen and (max-width: 450px) {
  .bg {
    padding: 20px;
  }

  .content {
    padding: 12px;
    width: 90%;
  }

  h1 {
    font-size: 28px;
  }

  .text {
    font-size: 20px;
  }
}

@media only screen and (max-width: 375px) {
  .bg {
    padding: 16px;
  }

  .content {
    padding: 12px;
    width: 100%;
  }

  h1 {
    font-size: 24px;
  }

  .text {
    padding: 4px;
    font-size: 16px;
  }
}
