.header-container {
  display: flex;
  justify-content: space-between;
}

.header-links {
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
}
